<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-wswUpdate" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>wswUpdate</name>
    <js-module name="wswUpdate" src="www/wswUpdate.js">
        <clobbers target="wswUpdate" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="wswUpdate">
                <param name="ios-package" value="wswUpdate" />
            </feature>
        </config-file>

        <header-file src="src/ios/wswUpdate.h" />
        <source-file src="src/ios/wswUpdate.m" />

    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="wswUpdate">
                <param name="android-package" value="ma.xiaoshuai.cordova.wswUpdate.wswUpdate" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
             <provider
              android:name="ma.xiaoshuai.cordova.wswUpdate.MyFileProvider"
              android:authorities="${applicationId}.MyFileProvider"
              android:exported="false"
              android:grantUriPermissions="true">
              <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
            </provider>
        </config-file>

        <framework src="src/android/wswUpdate.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/wswUpdate.java" target-dir="src/ma/xiaoshuai/cordova/wswUpdate" />
        <source-file src="src/android/MyApplication.java" target-dir="src/ma/xiaoshuai/cordova/wswUpdate" />
        <source-file src="src/android/MyFileProvider.java" target-dir="src/ma/xiaoshuai/cordova/wswUpdate" />
        <source-file src="src/android/UpdateUtil.java" target-dir="src/ma/xiaoshuai/cordova/wswUpdate" />

        <source-file src="src/android/file_paths.xml" target-dir="res/xml" />
        <source-file src="src/android/file_paths.xml" target-dir="network_security_config/xml" />

    </platform>
</plugin>